.sidepanel {
    background-color: white;
    color: #242424;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 6vh;
    height: 88vh; // 6vh top and bottom of equal space
    width: 20rem;
    border-radius: 1rem 0 0 1rem;
    transform: translateX(100%);
    box-shadow: 0 0 10px 1px;
    transition:
        transform 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out;

    @media screen and (max-width: 575px) {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        height: 95vh;
        top: 5vh;
        transform: translateY(100%);
    }

    &.open {
        transform: translateX(0);
        box-shadow: 0 0 10px 1px $orange;
    }

    > header, > footer {
        align-content: center;
        text-align: center;
    }

    > header {
        height: 6vh;

        h2 {
            margin: unset;
            color: $orange;
        }
    }

    > main {
        height: 70vh;
        overflow: scroll;

        @media screen and (max-width: 575px) {
            height: 74vh;
        }
    }

    > footer {
        height: 12vh;

        p {
            margin: unset;
            font-weight: bold;
        }

        button {
            background-color: $orange !important;
            color: #242424 !important;
        
            &:hover {
                background-color: darken($orange, 10%) !important;
            }
        }
    }
}
