@import './variables';
@import './navigation';
@import './sidepanel';
@import './product';
@import './basket';

#root {
    width: 100vw;
    height: 100%;

    > header {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.page {
    padding-top: 1vh;
    padding-bottom: 60px;
}

.white-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
